.circle-button {
  border-radius: 50%;

  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: double 2px transparent;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left,#5e5eea 10%, #e779d0 60%, #98164c 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;

  &.s {
    height: 30px;
    width: 30px;
    .circle-button-img {
      width: 15px;
      height: 15px;
    }

  }
  &.m {
    height: 60px;
    width: 60px;
    .circle-button-img {
      width: 40px;
      height: 40px;
    }
  }

  &.l {
    height: 100px;
    width: 100px;
    .circle-button-img {
      width: 80px;
      height: 80px;
    }
  }


}
